<body>
  <div class="login-container">
    <div class="logo">
      <h1>Login<h1>
    </div>

    <form method="post" action="/admin/auth/login" id="loginForm" novalidate>
      <div class="form-group">
        <label for="email">Email</label>
        <input
        value="<%= old?.email %>"
        name="email"
          type="email"
          id="email"
          class="form-control"
          placeholder="Enter your email"
          
        />
        <% if(errors?.email){ %>
          <span class="error-text" id="emailError">
          <%= errors?.email %>
          </span>
          <% } %>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
        value="<%= old?.password %>"
        name="password"
          type="password"
          id="password"
          class="form-control"
          placeholder="Enter your password"
          
        />
     <% if(errors?.password){ %>
          <span class="error-text" id="emailError">
          <%= errors?.password %>
          </span>
          <% } %>
      </div>

      <div
        style="
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
        "
      >
        <div class="remember-me">
          <input type="checkbox" id="remember" />
          <label for="remember">Remember me</label>
        </div>

        <a
          href="/admin/auth/forgot-password"
          style="color: #3a86ff; text-decoration: none; font-size: 14px"
          >Forgot Password?</a
        >
      </div>

      <button type="submit" class="btn">Login</button>

      <div class="footer">
        <p>
          Don't have an account?
          <a href="/admin/auth/register">Register</a>
        </p>
      </div>
    </form>
  </div>

  <script src="/assets/js/validation.js"></script>
  
  <style>
    .error-text {
      color: #f44336;
      font-size: 12px;
      margin-top: 5px;
    }

    .form-control.error {
      border-color: #f44336;
    }
  </style>
</body>
